<div class="form-user">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Nuevo Auto
            </div>
            <div class="card-body">
                <form action="/addAuto" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="marca" placeholder="Marca" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="modelo" placeholder="Modelo">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="kilometraje" placeholder="Kilometraje">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
