<div class="row">
    {{#each autos}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    {{marca}}
                </h4>
                <p>{{modelo}}</p>
                <p>{{kilometraje}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>